<!DOCTYPE html>
<html>
<head>
  <title>HockeyApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
<style>
table, td, th {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    width: 100%;
}
table {
    table-layout:fixed;
}

th {
    height: 25px;
}
</style>
</head>
<body>

<%= yield %>

</body>
</html>