<h1>Willkommen, bienvenue, welcome!</h1>

<h2>Logged in: <%= @user.email %></h2>

<h3>add a favorite player</h3>
    


<%= form_tag "/favorite_players", method: :post do %>

  <div>
    <%= label_tag :player %>
    <%= text_field_tag :player %>
  </div>

<%= submit_tag "Add to favorite players" %>

<% end %>

<%= form_tag "/favorite_teams", method: :post do %>

  <div>
    <%= label_tag :team %>
    <%= text_field_tag :team %>
  </div>

<%= submit_tag "Add to favorite teams" %>

<% end %>
