
<div ng-app="app">
 1+1 = {{ 1 + 1 }}
 <div id="stats_table">
  <div ng-controller="statsCtrl" ng-init="setup()">
    {{ message }}
    <h1><%= @requested_stats_table_title %> Leaders</h1>
    <h5>Current as of: <%= @requested_stats_updated %></h5>
    ****These are not from the JS, they are from ruby ****
    <br>
      <table border="1" style="width:45%">
        <!-- <th>ID</th> -->
        <th ng-click="sortBy('player_name')">Name</th>
        <th ng-click="sortBy('player_team')">Team</th>
        <th ng-click="sortBy('player_position')">Position</th>
        <th ng-click="sortBy('player_games')">Games</th>
        <th ng-click="sortBy('player_goals')">Goals</th>
        <th ng-click="sortBy('player_assists')">Assists</th>
        <th ng-click="sortBy('player_points')">Points</th>

        <tr ng-repeat="player in players_api_array | orderBy: sortByAttribute:descending ">
          <!-- <td ng-click="addFavoritePlayer">{{player.id}}</td> -->
          <td>{{player.player_name}}</td>
          <td>{{player.player_team}}</td>
          <td>{{player.player_position}}</td>
          <td>{{player.player_games}}</td>
          <td>{{player.player_goals}}</td>
          <td>{{player.player_assists}}</td>
          <td>{{player.player_points}}</td>


**** NEED TO AUTOMATICALLY POPULATE refresh time, table title, table headers **** <br>
**** HOW TO DO FAVORITE PLAYER display, deleting how to go back to database **** <br>
**** HOW TO NOTIFIY CHANGES? **** <br>

        </tr>
      </table>
      <input ng-model="newFavoritePlayer">
      <button ng-click="addFavoritePlayer(newFavoritePlayer)">Add Favorite Player</button>
      <!-- have to add parameters to send via js
      delete in current array syntax at 38 min in intro to angular2 -->
  </div>
 </div>
</div>
<p><%= link_to "Home", "/" %></p>

<% if current_user %>
    <p>signed in: <%= current_user.email %></p>
          <% else %>
              <p><a href="/users/sign_up">Sign Up/In</a></p>
          <% end %>

<p><%= link_to "Sign Out", "/users/sign_out", method: :delete if user_signed_in? %></p>

<% @score_alerts.each do |alert| %>
  <%= alert[:alert] %> <%= alert[:player] %>

<% end %>


<% if current_user %>
<h5>Favorite Players: </h5>
  <% @user.favorite_players.each do |user_player| %>
  <%= user_player.player %>  <%= link_to "Delete", "/favorite_players/#{user_player.id}", method: :delete %>
  <% end %>
<% end %>



<% if current_user %>
<h5>Favorite Teams: </h5>
  <% @user.favorite_teams.each do |user_team| %>
    <%= user_team.team %> <%= link_to "Delete", "/favorite_teams/#{user_team.id}", method: :delete %>
  <% end %>
<% end %>


  <% if current_user %>
  <h5>Favorite Searches: </h5>
  <% @user.favorite_searches.each do |user_search| %>
    <%= user_search.search %> <%= link_to "Delete", "/favorite_searches/#{user_search.id}", method: :delete  %>
  <% end %>
<% end %>

<%= form_tag "/favorite_players", method: :post do %>
  <%= label_tag :player %>
  <%= text_field_tag :player %>
  <%= submit_tag "Add to favorite players" %>
<% end %>

<%= form_tag "/favorite_teams", method: :post do %>
  <%= label_tag :team %>
  <%= text_field_tag :team %>
  <%= submit_tag "Add to favorite teams" %>
<% end %>


<%= form_tag "/favorite_searches", method: :post do %>
  <%= label_tag :search %> 
  <%= text_field_tag :search %>
  <%= submit_tag "Add to favorite searches" %>
<% end %>

<h4><a href="/?goal_leaders=goal_leaders">Goal Leaders</a>  <a href="/?assist_leaders=assist_leaders">Assist Leaders</a>  <a href="/?point_leaders=point_leaders">Points Leaders</a></h4>
<h1><%= @requested_stats_table_title %> Leaders</h1>
<h5>Current as of: <%= @requested_stats_updated %></h5>

<table style="width:60%">
  <tr>
    <th></th>
    <th><a href=<%= "/?sort_by_name=name&stat_type=#{@stat_type}" %>>Name</a></th>
    <th><a href=<%= "/?sort_by_team=team&stat_type=#{@stat_type}"%>>Team</a></th>   
    <th><a href=<%="/?sort_by_position=position&stat_type=#{@stat_type}"%>>Position</a></th>
    <th><a href=<%="/?sort_by_gamesplayed=gamesplayed&stat_type=#{@stat_type}"%>>Games Played</a></th>
    <th><a href=<%="/?sort_by_goals=goals&stat_type=#{@stat_type}"%>>Goals</a></th>   
    <th><a href=<%="/?sort_by_assists=assists&stat_type=#{@stat_type}"%>>Assists</a></th>
    <th><a href=<%="/?sort_by_points=points&stat_type=#{@stat_type}"%>>Points</a></th>
    <th><a href=<%="/?sort_by_points_per_game=points_per_game&stat_type=#{@stat_type}"%>>PTS PG</a></th>
<!-- ppg not working, add to stats model?
 -->
  </tr>
  <tr>

    <% @players_array.each do |player| %>
    <tr>

<!-- #{player[:player_points]}
 -->
      <td>
        <%= form_tag "/favorite_player/#{player[:id]}", method: :post do %>
          <%= hidden_field_tag :player_points, player[:player_points] %>
          <%= submit_tag "Follow"%>
        <% end %> 
      </td>
      <td><a href=<%= "/player/#{player[:id]}" %>><%= player[:player_name] %></a></td>
      <td><a href=<%= "/#{player[:player_team]}" %>><%= player[:player_team] %></a></td>
      <td name='player_pos' value='self'> <%= player[:player_position] %></td>
      <td> <%= player[:player_games] %></td>
      <td> <%= player[:player_goals] %></td>
      <td> <%= player[:player_assists] %></td>
      <td> <%= player[:player_points] %></td>
      <td> <%= (player[:player_points].to_f / player[:player_games].to_f).round(3) %></td>

    <% end %>
    </tr>
</tr>
</table>

  