<h1>Willkommen, bienvenue, welcome!</h1>

<h2>logged in as: <%= @user.email %></h2>

<%= @user.favorite_players.first.player %>

<%= @user.favorite_teams.first.team %>

<%= @user.favorite_searches.first.search %>
    


<%= form_tag "/favorite_players", method: :post do %>
  <%= label_tag :player %>
  <%= text_field_tag :player %>
  <%= submit_tag "Add to favorite players" %>

<% end %>

<%= form_tag "/favorite_teams", method: :post do %>
  <%= label_tag :team %>
  <%= text_field_tag :team %>
  <%= submit_tag "Add to favorite teams" %>

<% end %>


<%= form_tag "/favorite_searches", method: :post do %>
  <%= label_tag :search %> 
  <%= text_field_tag :search %>
  <%= submit_tag "Add to favorite searches" %>

<% end %>