

<div ng-app="app">
 <div id="stats_table">
  <div ng-controller="statsCtrl" ng-init="setup()">
  <div ng-controller="favoritesCtrl" ng-init="setup()">
    
    <h1><%= @requested_stats_table_title %> Leaders</h1>
    <h5>Current as of: <%= @requested_stats_updated %></h5>
    ****These are not from the JS, they are from ruby ****

    <br>
      <table border="1" style="width:50%">
        <th></th>
        <th>ID</th>
        <th ng-click="sortBy('player_name')">Name</th>
        <th ng-click="sortBy('player_team')">Team</th>
        <th ng-click="sortBy('player_position')">Position</th>
        <th ng-click="sortBy('player_games')">Games</th>
        <th ng-click="sortBy('player_goals')">Goals</th>
        <th ng-click="sortBy('player_assists')">Assists</th>
        <th ng-click="sortBy('player_points')">Points</th>

        <tr ng-repeat="player in players_api_array | orderBy: sortByAttribute:descending ">

        <td><button ng-click="addFavoritePlayer(player.id, player.player_name, player.player_points)">Follow!</button></td>
          <td id="playerId">{{player.id}}</td>
          <td name="player_name">{{player.player_name}}</td>
          <td name="player_team">{{player.player_team}}</td>
          <td name="player_position">{{player.player_position}}</td>
          <td name="player_games">{{player.player_games}}</td>
          <td name="player_goals">{{player.player_goals}}</td>
          <td name="player_assists">{{player.player_assists}}</td>
          <td name="player_points">{{player.player_points}}</td>


**** NEED TO AUTOMATICALLY POPULATE refresh time, table title, table headers **** <br>
**** HOW TO DO FAVORITE PLAYER display, deleting how to go back to database **** <br>
**** HOW TO NOTIFIY CHANGES? **** <br>

        </tr>
      </table>

      <input ng-model="newFavoritePlayer">
      <button ng-click="addFavoritePlayer(newFavoritePlayer)">Add Favorite Player</button>
      <!-- have to add parameters to send via js
      delete in current array syntax at 38 min in intro to angular2 -->
  </div>
 </div>
</div>

<p><%= link_to "Home", "/" %></p>

<% if current_user %>
    <p>signed in: <%= current_user.email %></p>
          <% else %>
              <p><a href="/users/sign_up">Sign Up/In</a></p>
          <% end %>

<p><%= link_to "Sign Out", "/users/sign_out", method: :delete if user_signed_in? %></p>

<% @score_alerts.each do |alert| %>
  Hey user #<%= alert[:alert] %> your player <%= alert[:player] %> scored!

<% end %>

<!-- ruby on rails
 -->


  