<!DOCTYPE html>
<html>
<head>
  <title>Light the Lamp</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
 
</head>
	<body>
	
		<!-- Outer Starts -->
		<div class="outer">
			
			<!-- Top bar starts -->
			<div class="top-bar">
				<div class="container">
				
					<!-- Contact starts -->
					
					<!-- Contact ends -->
					
					<!-- Shopping kart starts -->
					
					<!-- Shopping kart ends -->
					
					<!-- Langauge starts -->
					<div class="tb-language dropdown pull-right">
					Hi, <%= current_user.email if user_signed_in? %>!
					<%= link_to "Sign Out", "/users/sign_out", method: :delete if user_signed_in? %>
					</div>
					<!-- Language ends -->
					
					<!-- Search section for responsive design -->
					<div class="tb-search pull-left">
						<a href="#" class="b-dropdown"><i class="fa fa-search square-2 rounded-1 bg-color white"></i></a>
						<div class="b-dropdown-block">
							<form role="form">
								<!-- Input Group -->
								<div class="input-group">
									<input type="text" class="form-control" placeholder="Type Something">
									<span class="input-group-btn">
										<button class="btn btn-color" type="button">Search</button>
									</span>
								</div>
							</form>
						</div>
					</div>
					<!-- Search section ends -->
					
					<!-- Social media starts -->
					<div class="tb-social pull-right">
						<div class="brand-bg text-right">
							<!-- Brand Icons -->
							
						</div>
					</div>
					<!-- Social media ends -->
					
					<div class="clearfix"></div>
				</div>
			</div>
			
			<!-- Top bar ends -->
			
			<!-- Header two Starts -->
			<div class="header-2">
			
				<!-- Container -->
				<div class="container">
					<div class="row">
						<div class="col-md-2">
							<!-- Logo section -->
							<div class="logo">
								<h1><a href="#"><i class="fa fa-laptop"></i></a></h1>
							</div>
						</div>
						<div class="col-md-9">
						
							<!-- Navigation starts.  -->
							<div class="navy">			
								<ul>
									<!-- Main menu -->
									
							</div>							
							<!-- Navigation ends -->
							
						</div>
						
						<div class="col-md-1">
							
							<!-- Search section -->
							
							<!-- Search section ends -->
							<div class="clearfix"></div>
							
						</div>
						
					</div>
				</div>
			</div>
	
			<!-- Header two ends -->
			
			<!-- Main content starts -->
								<!-- Image Box #3 Starts -->
		
					<div class="img-box-3 text-center">
						<div class="row">
							<div class="col-md-3 col-sm-6">
								<!-- Image Box #3 Item -->
								<div class="img-box-3-item">
									<div class="img-box-3-icon bg-red">
										<a href="#"><img src="assets/theme/flat-icons/10.png" alt="" class="img-responsive" /></a>
									</div>
									<h4><a href="#">Sign Up!</a></h4>
									<div class="bor bg-red"></div>
									<p>register</p>
								</div>
							</div>
							<div class="col-md-3 col-sm-6">
								<!-- Image Box #3 Item -->
								<div class="img-box-3-item">
									<div class="img-box-3-icon bg-lblue">
										<a href="#"><img src="assets/theme/flat-icons/3.png" alt="" class="img-responsive" /></a>
									</div>
									<h4><a href="#">Pick Your Players!</a></h4>
									<div class="bor bg-lblue"></div>
									<p>save your favorites to your account</p>
								</div>
							</div>
							<div class="col-md-3 col-sm-6">
								<!-- Image Box #3 Item -->
								<div class="img-box-3-item">
									<div class="img-box-3-icon bg-green">
										<a href="#"><img src="assets/theme/flat-icons/17.png" alt="" class="img-responsive" /></a>
									</div>
									<h4><a href="#">Enter your hue info</a></h4>
									<div class="bor bg-green"></div>
									<p>stuff to send post request</p>
								</div>
							</div>
							<div class="col-md-3 col-sm-6">
								<!-- Image Box #3 Item -->
								<div class="img-box-3-item">
									<div class="img-box-3-icon bg-blue">
										<a href="#"><img src="assets/theme/flat-icons/20.png" alt="" class="img-responsive" /></a>
									</div>
									<h4><a href="#">Light the Lamp!</a></h4>
									<div class="bor bg-blue"></div>
									<p>Maiores alias consequatur aut perferendis doloribus asperiores repellat earum dolor.</p>
								</div>
							</div>
						</div>	
					</div>
					
					<!-- Image Box #3 Ends -->

			<!-- I pushed in image from quote start -->
			<div class="quote-two">
					<!-- Container -->
					<div class="container">
						<!-- Quote Two Content -->
						<div class="quote-two-content">
							<span>&#8220;</span>
							<div class="owl-carousel" data-items="1" data-auto-play="true" data-pagination="true" data-single-item="true">
								<!-- Item -->
								<div class="item">
									<h3>At vero eos et accusamus et iusto odio dignissimos ducimus indignation qui blanditiis praesentium voluptatum.</h3>
									- Helon Thomas
								</div>
								<div class="item">
									<h3>Indignation qui blanditiis praesentium voluptatum at vero eos et accusamus et iusto odio dignissimos ducimus.</h3>
									- Helon Peter
								</div>
								<div class="item">
									<h3>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized.</h3>
									- John Mark 
								</div>
							</div>
						</div>
					</div>					
				</div>
			<!-- I pushed in image from quote end -->
	
			<div class="main-block">

				
			
			
				<div class="container">
					
					<br />
					<div class="text-center">
						
						<p><%= yield %> </p>

						

 
					</div>
					
<!-- 					<div class="divider-1"></div>
 -->
					

					
					<div class="divider-1"></div>
					
					
							<!-- Accordion ends -->
							
						</div>
						
						
						
					</div>
					
					<br />
					
					<div class="cta-one">
						<!-- CTA One Content -->
						
				
				
				
				<br />
				
				<div class="container">
				
					<!-- Block heading two -->
					
				
					
					<!-- Client One Starts -->
					
					
					
				</div>
			</div>
			
			<!-- Main content ends -->
			
			<!-- Foot Starts -->
		
			<div class="foot">
				<!-- Container -->
				<div class="container">
					<div class="row">
						<div class="col-md-3 col-sm-6">
							<!-- Foot Item -->
							<div class="foot-item">
								<!-- Heading -->
								<h5 class="bold"><i class="fa fa-user"></i>&nbsp;&nbsp;About</h5>
								<p>Itaque earum rerum hic tenetur a atque atatum dele niti atque tenetur a atque atatum tenetur volup tatum.</p>
								
								<div class="subscribe-box">
									<h5 class="bold">Subscribe :</h5>
									<!-- Form -->
									<form role="form">
										<!-- Input Group -->
										<div class="input-group">
											<input type="text" class="form-control" placeholder="Enter Email Id">
											<span class="input-group-btn">
												<button class="btn btn-color" type="button">Subscribe</button>
											</span>
										</div>
									</form>
								</div>
							</div>
						</div>	
						<div class="col-md-3 col-sm-6">
							<!-- Foot Item -->
							
						</div>
						<div class="col-md-3 col-sm-6">
							<!-- Foot Item -->
							<div class="foot-item">
								<!-- Heading -->
								
							</div>
						</div>
						<div class="col-md-3 col-sm-6">
							<!-- Foot Item -->
							<div class="foot-item">
								<!-- Heading -->
								
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<!-- Foot Ends -->
			
			<!-- Footer Starts -->
			
			<footer>
				<!-- Container -->
				<div class="container">
					<!-- Footer Content -->
						<!-- Paragraph -->
						<p class="pull-left">Copyright &copy; 2014 - <a href="#">Your Site</a></p>
						<ul class="list-inline pull-right">
							<!-- List -->
							<li><a href="index.html">Home</a><li>
							<li><a href="service.html">Service</a></li>
							<li><a href="feature.html">Features</a></li>
							<li><a href="about-us.html">About</a></li>
							<li><a href="contact-us.html">Contact</a></li>
						</ul>
						<!-- Clearfix -->
						<div class="clearfix"></div>
				</div>
			</footer>
			
			<!-- Footer Ends -->
		
		</div>
		
		<!-- Outer Ends -->		
		
		<!-- Scroll to top -->
		<span class="totop"><a href="#"><i class="fa fa-angle-up bg-color"></i></a></span>
		
		
		
		<script type="text/javascript">
			<!-- Counting code -->
			// $(document).ready(function(){
			// 	// Way Points With Count To()
			// 	$('.number-count').waypoint(function(down){
			// 		if(!$(this).hasClass('stop-counter'))
			// 		{
			// 			$(this).countTo();
			// 			$(this).addClass('stop-counter');
			// 		}
			// 	}, { 
			// 		offset: '90%' 
			// 	});
			// });		
		</script>

<!--  		<script>
function showDetails(user) {
    var userNumber = user.getAttribute("data-user-id");
    alert(user.innerHTML + " is " + userNumber);
}
</script> -->
		
		<script type="text/javascript">
			// jQuery(document).ready(function() {
			// 	jQuery('.r-slider .banner').revolution({
			// 		delay:7000,
			// 		startheight:400,
			// 		startwidth:1000,
			// 		startWithSlide:0,
		 
			// 		fullScreenAlignForce:"off",
			// 		autoHeight:"off",
		 
			// 		shuffle:"off",
		 
			// 		onHoverStop:"on",
		 
			// 		thumbWidth:100,
			// 		thumbHeight:50,
			// 		thumbAmount:3,
		 
			// 		hideThumbsOnMobile:"on",
			// 		hideNavDelayOnMobile:1500,
			// 		hideBulletsOnMobile:"off",
			// 		hideArrowsOnMobile:"off",
			// 		hideThumbsUnderResoluition:0,
		 
			// 		hideThumbs:10,
			// 		hideTimerBar:"on",
		 
			// 		keyboardNavigation:"on",
		 
			// 		navigationType:"bullet",
			// 		navigationArrows:"solo",
			// 		navigationStyle:"round",
		 
			// 		navigationHAlign:"center",
			// 		navigationVAlign:"bottom",
		 
			// 		soloArrowLeftHalign:"left",
			// 		soloArrowLeftValign:"center",
			// 		soloArrowLeftHOffset:20,
			// 		soloArrowLeftVOffset:0,
		 
			// 		soloArrowRightHalign:"right",
			// 		soloArrowRightValign:"center",
			// 		soloArrowRightHOffset:20,
			// 		soloArrowRightVOffset:0,
		 
		 
			// 		touchenabled:"on",
			// 		swipe_velocity:"0.7",
			// 		swipe_max_touches:"1",
			// 		swipe_min_touches:"1",
			// 		drag_block_vertical:"false",
		 
			// 		stopAtSlide:-1,
			// 		stopAfterLoops:-1,
			// 		hideCaptionAtLimit:0,
			// 		hideAllCaptionAtLilmit:0,
			// 		hideSliderAtLimit:0,
		 
			// 		dottedOverlay:"none",
		 
			// 		spinned:"spinner4",
		 
			// 		fullWidth:"off",
			// 		forceFullWidth:"off",
			// 		fullScreen:"off",
			// 		fullScreenOffsetContainer:"#topheader-to-offset",
		 
			// 	});
			// });
		</script>
		
		
		
	</body>	
</html>